<!--><table border="1">
	<tr>
		<th>Title</th>
		<th>Actor</th>
		<th>Director</th>
		<th>Genre</th>
	</tr>
	<tr>
		<td>Dirty Harry</td>
		<td>Clint Eastwood</td>
		<td>Don Siegel</td>
		<td>Action</td>
	</tr>
</table><!-->
	
	<% @movie.each do |note| %>
	  <article <%= 'class="complete"' if movie.complete %>>
	    <p>
	      	<%= movie.title %>
			<%= movie.actor %>
			<%= movie.director %>
			<%= movie.genre %>
	      <span><a href="/<%= movie.id %>">[edit]</a></span>
	    </p>
	    <p class="links">
	      <a href="/<%= movie.id %>/complete">&#8623;</a>
	    </p>
	  </article>
	<% end %>